dash
dash_bootstrap_components
dash_bootstrap_templates
datasets
matplotlib
numpy
pandas
plotly
seaborn
textstat
gunicorn
wordCloud
dash_html_components
dash_core_components
pandas
dash-holoniq-wordcloud
scikit-learn
seaborn
scipy
statsmodels
openpyxl
geopandas
geopy
gender-guesser
regex
dash-extensions
dash-cytoscape
Pillow